# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI pipeline for CQRS Microservice Tutorial

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        distribution: 'adopt'
        cache: maven
    - name: EurekaNamingServer Build with Maven
      run: |
        cd EurekaNamingServer
        mvn -B package --file pom.xml
      
    - name: list the files in target directory
      run: |
        cd target
        ls -a
    
    - name: ApiGateway Build with Maven
      run: |
        cd ..
        cd ApiGateway
        mvn -B package --file pom.xml
    
    - name: list the files in target directory
      run: |
        cd target
        ls -a
    - name: Products Build with Maven
      run: |
        cd .. 
        cd Products
        mvn -B package --file pom.xml
        
    - name: list the files in target directory
      run: |
        cd target
        ls -a
